<div class="container">
  <div class="row mx-auto">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 my-5">
      <%= attachment_image_tag @item, :image, :fill, 350, 350, class:"icon border", fallback: "no_image.jpg" %>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left pl-5 my-5">
      <h3><%= @item.name %></h3>
      <p><%= @item.introduction %></p><br><br><br><br>
      <% if @item.is_active == true %>
        <h4>¥<%= (@item.price * 1.1).to_i.to_s(:delimited, delimiter: ",") %> (税込)</h4>
        <%= form_with model:@cart_item, url: cart_items_path, method: :post do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <span class="mr-3">
            <%= f.select :count, (1..10).to_a, include_blank: "個数選択" %>
          </span>
          <%= f.submit "カートに入れる", class:"btn btn-success" %>
        <% end %>
      <% else %>
        <h4 class="text-danger">現在売り切れ</h4>
      <% end %>
    </div>
  </div>
</div>